.root {
  position: relative;
}

.search {
  width: 300px;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
  padding-left: 40px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  left: 12px;
  top: 12px;
}

.close {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  right: 12px;
  top: 12px;
}